{% extends 'base.html' %}

{% block content%}


<body>
</div>
<div class="text-center">
<img src="/static/assets/hop-on-motorcycle.gif" class="img-fluid" alt="dog on moto" />
</div>

        <div class="container">
        <h3>How it all began.</h3>
        <p>This part is inside a .container class.</p>
        <p>The .container class provides a responsive fixed width container.</p>
        <p>Resize the browser window to see that the container width will change at different breakpoints.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis similique, molestias facere iste ab illum aliquid, veniam fuga voluptatum blanditiis. Nulla esse accusantium veniam qui deserunt inventore, eligendi quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis similique, molestias facere iste ab illum aliquid, veniam fuga voluptatum blanditiis. Nulla esse accusantium veniam qui deserunt inventore, eligendi quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis similique, molestias facere iste ab illum aliquid, veniam fuga voluptatum blanditiis. Nulla esse accusantium veniam qui deserunt inventore, eligendi quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis similique, molestias facere iste ab illum aliquid, veniam fuga voluptatum blanditiis. Nulla esse accusantium veniam qui deserunt inventore, eligendi quod.</p>

        </div>

</body>
{% endblock %}