{% extends 'base.html' %}

{% block content%}
<body>    
    <h4><strong>Motorcycle History Timeline</strong></h4>

    <div class="container">
    
    <p>When the motorcycle was first introduced, its creators could'nt have possibly predicted its future popularity or the culture it would create. <br>It's been just over 150 years, and the motorcycle has made a lasting impression. Let's take a look into how it all came to be. </p><br>

    <p>1867: Sylvester Howard Roper (American) was the creator and inventor of the steam-powered, two-cylinder velocipede. This was essentially an early form of a bicycle, but, more importantly, it was the first steam-powered one. While some may question whether Roper's design should have been considered a motorcycle, it had two wheels and a coal-fired steam engine, which was very advanced for its time.</p>
<p>1881: Lucius Copeland (Arizona) created something similar, but years later. He not only made the steam boiler smaller, but it could ride at 12 mph, which was a great achievement for his time.</p><br>

<div class="text-center">
    
    <img src="/static/assets/giphy.gif" class="img-fluid" alt="bike on road" />
    </div>
    
<p>1885: German partners Gottlieb Daimler and Wilhelm Mayback created the first gas-powered combustion engine. This was a staple in motorcycle history, as it was the first time anyone was able to combine a traditional bike with a gas-powered engine. They received help from an engineer by the name of Nicolaus Otto, who, in 1876, created the first-ever four-stroke internal combustion engine. Triumph Engineering was later founded in England, which would go on to become 'Triumph Motorcycles'.</p>
<div class="text-primary">
<p><strong>*Fun Fact*: Gottlieb Daimler would later try his hand in the car manufacturing industry, and the company he created would go by the name of 'Daimler Benz', which is currently Mercedes-Benz.</strong></p></div>
<p>1894: A German company called Hildebrand & Wolfmuller became the first to create a factory production line to create these vehicles. And to make the name of their product more clear, they dubbed the vehicles "motor-cycles".</p>
<p>1895: Dedion-Buton, a Frenchman, introduced an innovative four-stroke engine that would catapult the production of the motorcycles. </p>
<p>1899: Charles H. Metz was responsible for the first production of motorcycles in America.</p>
<p>1901: Considered the 'dawn' of motorcycles in America, Indian Motorcycle used DeDion-Buton's design to create their first motorcycle. As it were, Indian proved to develop fantastic vehicles, and their motorcycles would be the worlds best-selling models up until WWI.</p>
<p>1903: William Harley and his partners, Arthur and Walter Davidson, launched Harley-Davidson Motorcycle Company. While the company had originally anticipated marketing their bikes as transport vehicles, their engine creation proved to be speedy, so it constantly won races. The first-ever Harley-Davidson motorcycle would be distributed and sold in Chicago. </p>
<p>1914: The first World War began, and European and American armies began to integrate motorcycles into the Army as a means of carrying messages to and from bases quickly.</p>
<p>1920's-1930's: The motorcycle is embraced, and the industry experiences a large influx of sales. During this time, well-known companies like Moto Guzzi and BMW were inducted into the industry, and the American Motorcyclist Association was established.</p>
<p>1937: Sally Robinson became the first woman to ever receive her motorcycle license. </p>
<p>1940's: World War II ended, and motorcycle sales in America and Europe skyrocketed. This was due to the large number of veterans returning home after having ridden these vehicles during the War. It turns out, these men were anxious to own their own bike. This was when the 'cruiser' design became popular as well.</p>
<p>Mid-1940's: American soldiers who fought in WWII, especially scouts and runners who became accustomed to motorcycles, came back home with a passion for two wheels. Brotherhoods and motorcycle clubs began to take off at this point, and, with them, so did many popular motorcycle superstitions (such as the green motorcycle curse). The whole thing might have started because of World War II. Soldiers rode motorcycles painted green to carry messages or get quickly from place to place. The color identified them as military and made them a target for enemy rifles in the area </p>
<p>1947: The Hollister Riots occurred during a motorcycle rally hosted by the AMA in Hollister, California. The event was covered by the press after more riders showed up to the event than were originally anticipated. The bikers caused some minor damage to the town, while the press caused some major damage to the biker image as a result of their sensationalized reports.</p>
<p>1951: Austrian company Kronreif & Trunkenpolz Mattighofen (currently know as 'KTM') created its first prototype motorcycle.</p>
<p>1952: Suzuki became the first Japanese producer of motorcycles, which soon led to a ripple effect of high-quality bikes being created within the country.  </p>
<p>1955: Honda and Yamaha also emerge into the marketplace. They wanted to prove they could create motorcycles that were as advanced as the power-house American brands, like Harley-Davidson and Indian Motorcycle.</p>
<p>1960: Kawasaki, soon to make waves in the racing industry (and debunk the 'unlucky green' myth) released their first bike.</p>
<p>1962: Honda worked with Grey Advertising on their "You Meet the Nicest People on a Honda" campaign, which helped eliminate some of the misconceptions regarding motorcycle riders.</p>
<p>1965: Custom motorcycles became exceedingly popular, with varying styles and custom paint</p>
<p>1969: Honda made waves in the industry yet again, by creating a four-cylinder motorcycle, which became the first 'superbike'.</p>
<p>1970: The industry saw an all-time high in vehicle registration when 5 million motorcycles became registered in the United States.</p>
<p>1980's: Honda and Kawasaki become the first companies to showcase motorcycles that have electronic fuel injection systems. This system would later become the norm for many.</p>
<p>1990's: After a large dip in the motorcycle market, the Baby Boomers dive back into riding, and the industry experiences a surge in motorcycle sales, which encouraged brands like BMW, Ducati, Aprilia, and Triumph, to make a comeback.</p>
<p>1998: Polaris gets involved in the competitive motorcycle market by introducing 'Victory.'  Also, the first electric motorbike, the Lectra, was produced during this time.</p>
<p>2009: The world was gifted with the first hybrid motorcycle, the Eko Vehicle's ET-120, which sold in India.</p>
<p>2013: Polaris announced the resurrection of one of the first American motorcycle brands, Indian.</p>
<p>2018: Harley-Davidson stakes its claim in the electric motorcycle industry by announcing a new electric bike, LiveWire to debut in 2019</p>
<p>2021: Harley-Davidson spins its LiveWire electric bike into a standalone brand with its own brand identity that is separate from HD. </p><br><br>
<p>And there you have it, the history of the motorcycle and the culture around it. Its been a long ride but the history is rich in innovation and dedication. And for that, we are grateful because without all of these individual milestones, we would not be where we are today. This industry will continue to evolve and the people who love bikes will keep on tinkering and debating the merits of their favorite models. Most importantly, motorcycle lovers will keep on riding.  </p>



</div>    
</body>

    
{%endblock%}