{% extends 'base.html' %}

{% block content%}

<body>
    <h4>Culture</h4>
    <h4>Motorcycle Culture Revs Up</h4>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/assets/Tom-Cruise.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/assets/great-escape.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/assets/The-Wild-One-02.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="container">
    
    <p>As the nations of the world weathered two massive wars, manufacturers from all countries continued to produce large numbers of motorcycles. Models such as the Harley-Davidson WLA were again mass-produced for the Allied military effort in World War II. Many GIs coming home from the front began purchasing Harley's civilian models that were similar to the bikes they had used in the war. In turn, many of these veterans formed motorcycle clubs that helped give their lives purpose and direction, as well as a place to socialize and have fun. </p>









</div>

</body>


{%endblock%}